.about {

    &__left {
        margin-top: 150px;
        display: flex;
    }

    &__right {
        margin-bottom: 20px;
        margin-left: 125px;
        width: 350px;
        height: 600px;
    }

    &__heading {
        margin-top: 20px;
        padding: 0;
        font-family: 'Ibarra Real Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
    }

    &__desc {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #33323D;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 25px;
    }

    &__right-line {
        display: inline-block;
        margin-bottom: 51px;
        width: 350px;
        height: 2px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.15;
    }

    &__right-line-2 {
        display: inline-block;
        margin-top: 37px;
        width: 350px;
        height: 2px;
        background: #33323D;
        mix-blend-mode: normal;
        opacity: 0.15;

    }



}

@media only screen and (max-width:701px) {
    .about {
        &__left {
            margin-top: 96px;
            display: flex;
        }

        &__img {
            width: 281px;
            height: 600px;
        }

        &__right {
            margin-bottom: 20px;
            margin-left: 69px;
            width: 339px;
            height: 600px;
        }

        &__heading {
            margin-top: 10px;
        }

        &__desc {
            margin: 0;
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #33323D;
            mix-blend-mode: normal;
            opacity: 0.8;
            margin-bottom: 24px;
        }
        &__right-line {
            width: 300px;
            height: 2px;
        }

    }
}