.button {
    padding: 17px 36px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
    background-color: #ffff;
    border: transparent;
    border: 1px solid #33323D;

}
